/*http://www.wix.com/website-template/view/html/1317?originUrl=http%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fmost-popular%2F1&bookName=create-master-new&galleryDocIndex=4&category=most-popular&metaSiteId=*/

body{
	background:url('../images/background.jpg');
	font-family: 'Jura', sans-serif;
}

.wrapper{
	width:980px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}

header a{
	text-decoration:none;
	color:#3a1c13;
}

.home{
	background:url('../images/sign.png');
	height:90px;
	width:440px;
	margin:auto;
	margin-bottom:25px;
	text-align:center;
}

.home h1{
	position:relative;
	top:15px;
	font-size:30px;
	font-weight: bold;
}

nav{
	height:30px;
	width:100%;
	background:#f4efe1;
	font-size:0;
	display:table;
}

nav a{
	color:#3a1c13;
	background:#f4efe1;
	display:inline-block;
	font-size:20px;
	width:123px;
	text-align:center;
	height:30px;
	display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

nav a:hover{
	color:#f4efe1;
	background:#e87330;
}

nav a.selected{
	color:#f4efe1;
	background:#3a1c13;
}

.content{
	margin-top:15px;
	min-height:130px;
	background:#f4efe1;
	padding-top:40px;
	font-size:20px;
	line-height:130%;
}

.content p{
	margin-left:80px;
	margin-right:80px;
	margin-top:5px;
	padding-bottom:25px;
}

.content ul{
	margin-left:80px;
	margin-right:80px;
	margin-top:10px;
}

.content p h2{
	margin-left:80px;
	margin-right:80px;
	margin-top:10px;
}

.slide{
	margin-top:15px;
	background:#f4efe1;
	padding-top:20px;
}

.slide img{
	margin-left:20px;
	width:940px;
	padding-bottom:20px;
}

footer{
	margin-top:15px;
	height:150px;
	background:#f4efe1;
	font-size:20px;
	margin-bottom:20px;
}

footer ul{
	float:left;
	margin-top:30px;
	margin-left:75px;
}

footer ul:last-child{
	margin-left:90px;
}

footer .divider{
	background:black;
	float:left;
	width:1px;
	height:100px;
	margin-top:30px;
	margin-left:70px;
}

footer ul li{
	margin-top:10px;
}

.bold{
	font-weight:900;
}


